/* css */

h1 {
    color:greenyellow;
    text-align: center;
}
 
form {
    border:10px rgb(101, 238, 204) solid;
    width: 300px;
    background-color: white;
    padding:20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}








    





